table {
    width: 100%;
    text-align: center;
    background: white;
    border-collapse: collapse;
}

td, th {
    padding: 0.5rem;
    border: 0.15rem solid;
}

.button {
    font-weight: bold;
    cursor: pointer;
}

.button:active {
    background: #959798;
}